@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primnary: #399866;
  --secondary: #f8f6e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary);
}

.donate {
  background-color: var(--primnary);
  text-transform: capitalize;
  color: white;
}

.banner {
  background-color: var(--primnary);
}

.colorgrey{
  color: #5F5F5F;
}

.color-yellow {
  color: #fdc137;
}

.heading {
  font-family: Empower Hope, Transform Lives;
}

.footerListHeading {
  font-family: Manuale;
}

footer {
  background-color: #399866;
}
